<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cat Dashboard</title>
    <style>
        h1 {
            /* text-decoration: underline; */
            color: teal;
        }
        .container {
            width: 400px;
            background-color: lightgrey;
            padding: 10px;
            margin: auto;
            border-radius: 10px;
            text-align: center;
        }
        input[type='submit'] {
            margin-left:300px;
            background-color: teal;
            color:white;
            padding: 5px;
            width: 100px;
            border-radius: 5px;
            margin-top: 10px;
        }
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #c3e7e1;
        }
        tr:nth-child(odd) {
            background-color: rgb(255, 255, 255);
        }
    </style>
</head>
<body>  
    <div class='container'>
        <h1>Cat Dashboard</h1>
        <table>
            <tr>
              <th>Name</th>
              <th>Breed</th>
              <th>Color</th>
              <th>Actions</th>
            </tr>
            <% for (var i in cats) { %>
            <tr>
              <td><a href="/cats/<%= cats[i].id %>"><%= cats[i].name %></a></td>
              <td><%= cats[i].breed %></td>
              <td><%= cats[i].color %></td>
              <td><a href="/cats/edit/<%= cats[i].id %>">Edit</a> | <a href="/cats/destroy/<%= cats[i].id %>">Delete</a></td>
            </tr>
            <% } %>
          </table>
        <form action="/cats/new" method="get">
            <input type="submit" value="Add New Cat">
        </form>
    </div>
</body>
</html>